In [2]:
import pandas as pd

# https://cocl.us/datascience_survey_data
data = pd.read_csv("https://cocl.us/datascience_survey_data", index_col=0)
data.head()

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136

In [3]:
# data dscribed
data.describe()

       Very interested  Somewhat interested  Not interested
count         6.000000             6.000000        6.000000
mean       1280.166667           705.833333      184.833333
std         451.455166           231.135819      210.344876
min         429.000000           444.000000       60.000000
25%        1280.250000           540.000000       81.000000
50%        1336.000000           731.500000      114.500000
75%        1556.750000           761.000000      133.750000
max        1688.000000          1081.000000      610.000000

In [11]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.bar(data, , width=0.8, bottom=None, *, align='center', data=None, **kwargs)[source]

In [4]:
data.sort("Very interested")

AttributeError: 'DataFrame' object has no attribute 'sort'